fastapi==0.115.0
python-dotenv==1.0.1
uvicorn[standard]==0.30.6
requests
pandas==2.1.3
beautifulsoup4
pymupdf
python-docx
scikit-learn
python-multipart
types-requests
types-beautifulsoup4
types-python-dateutil
types-pytz
pandas-stubs